* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}


#main {
    margin-top: 10%;
    width: 100%;
    height: 80%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

/*
.card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
}


.button-chat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: red;
}
*/

.twitterCard {

    width: 40%;
    height: 45%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 15px 60px 0 #1da1f226;
}

.cardHeader, .cardBody, .cardFooter {
    position: relative;
    padding: 16px;
}

.face {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 8px;
    padding: 10px;
}

.userDescription{
    position: absolute;
    top: 30%;
    left: 125px;
    margin: 0;
}

.twitterLogo{
    position: absolute;
    right: 30px;
    top: 30%;
}

.cardBody {
    border-bottom: 1px solid #e1e8ed;
}

.twitterLogo, .likes {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cardFooter p {
    position: absolute;
    left: 50px;
    top: 30px;
    color: #657786;
}

.colored {
    color: #1da1f2;
}
