*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: space-between;
}

div{
    margin: 8px;
    width: 150px;
    height: 60px;
    background-color: blue;
}

@media (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }  
}

@media (min-width: 600px) and (max-width: 728px) {
    div{
        display: grid;
        grid-template-columns: 2fr;
    }   
}

@media (max-width: 728px) {
    div{
        display: grid;
        grid-template-rows: 1fr;
    }   
}