*{
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 450px;
    height: 300px;
    padding: 16px 24px;
    border-radius: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-img{
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 80px;
}

.userDescription{
    width: 202px;
    height: 72px;
}

.userDescription h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    color:#C85DD3;
}

.userDescription p{
    font-family: "Inter";
    font-size: 20px;
    color: #53507E;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.icons div{
    width: 44px;
    height: 44px;
    border: 2px solid #FAFAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
}

.icons svg{
    width: 16px;
    height: 14px;
}

.main{
    font-size: 20px;
    font-family: "Inter";
    color: #53507E;
}

.footer{
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
}

.footer h3{
    font-size: 10px;
    color: #C85DD3;
}

.footer p{
    font-size: 14px;
    color: #53507E;
}
