*{
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 100vh;
    margin: 0;
}

#ball{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
}